<div class="active-preloader-ovh">

<div class="preloader"  *ngIf="showloader"><div class="spinner"></div></div><!-- /.preloader -->

     <!-- Bitcoin Horizontal Live Ticker -->   
	 <div style="width: 100%; height:62px; background-color: #1D2330; overflow:hidden; box-sizing: border-box; border: 1px solid #282E3B;text-align: right; line-height:14px; block-size:62px; font-size: 12px; box-sizing:content-box; font-feature-settings: normal; text-size-adjust: 100%; padding:1px;padding: 0px; margin: 0px;"><div style="height:40px;"><iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=1505&invert_hover=no" width="100%" height="36" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div><!--<div style="color: #626B7F; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing:content-box; margin: 5px 6px 10px 0px; font-family: Verdana, Tahoma, Arial, sans-serif;">powered by&nbsp;<a href="https://coinlib.io" target="_blank" style="font-weight: 500; color: #626B7F; text-decoration:none; font-size: 11px;">Coinlib</a></div>--></div>
    
<div class="header header-home-one">
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="thm-container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed bitmex-icon-menu" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false"> </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/pesologo.png" alt="Awesome Image" height="90px" width="100px"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">
                
                <ul class="nav navbar-nav navigation-box">
                    <li class="current"> 
                        <a href="index.html">Home</a> 
                       
                    </li>
                    <li> <a href="#">About</a> </li>
                    <li> 
                        <a href="#">Services</a> 
                        <ul class="sub-menu">
                            <li><a href="#">Service Page</a></li>
                            <li><a href="#">Service Details</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li> 
                        <a href="#">Pages</a> 
                        <ul class="sub-menu">
<!--                            <li><a href="404.html">404 Page</a></li>-->
<!--                            <li><a href="how-it-works.html">How it works</a></li>-->
                            <li>
                            	<a href="#">Our Team</a>
                            	<ul class="sub-menu">
<!--                            		<li><a href="team.html">Team Style One</a></li>-->
<!--                            		<li><a href="team2.html">Team Style Two</a></li>-->
<!--                            		<li><a href="team3.html">Team Style Three</a></li>-->
                            	</ul><!-- /.sub-menu -->
                            </li>
                            <!--<li><a href="what-is-bit.html">What Is Bitcoin</a></li>
                            <li><a href="exchange.html">Exchange</a></li>
                            <li><a href="charts.html">Charts</a></li>-->
                        </ul><!-- /.sub-menu -->
                    </li>
                  <!--  <li> 
                        <a href="blog.html">News</a> 
                        <ul class="sub-menu">
                            <li><a href="blog.html">News Grid</a></li>
                            <li><a href="blog-details.html">News Details</a></li>
                        </ul> 
                    </li>-->
                    <li> <a href="contact.html">Contact</a> </li>
                     <li> <a href="#">Login</a> </li>
                     <li> <a href="#">Register</a> </li>
                </ul>                
            </div><!-- /.navbar-collapse -->
            <div class="right-side-box">
                <a href="#test-search" class="search-icon popup-with-zoom-anim bitmex-icon-search"></a><!--
                --><a href="#hidden-sidebar" class="side-menu-icon bitmex-icon-menu side-nav-opener"></a>
            </div><!-- /.right-side-box -->
        </div><!-- /.container -->
    </nav>   
</div><!-- /.header -->


<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-one" data-ride="carousel">
	<div id="particles-js"></div><!-- /#particles-js -->           
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active slide-1" style="background-image: url(assets/img/banner-1-1-1.png);background-position: right bottom;">
            
            <div class="carousel-caption">
                <div class="thm-container">
                    <div class="box valign-middle">
                        <div class="content ">
                            <h3 data-animation="animated fadeInUp">Easy way to earn <br /> with Pesobitz</h3>
                            <p data-animation="animated fadeInDown">Excepteur sint occaecat cupidatat non proident sunt in <br /> culpa qui officia deserunt mollit anim id est laborum. <br /> Perspiciatis unde.</p>
                            <a href="#" class="thm-btn" data-animation="animated fadeInDown">Login</a>
                            <a href="#" class="thm-btn" data-animation="animated fadeInDown">Register</a>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
        <div class="item slide-2" style="background-image: url(assets/img/banner-1-1-2.png);background-position: right center;">
            
            <div class="carousel-caption">
                <div class="thm-container">
                    <div class="box valign-middle">
                        <div class="content ">
                            <h3 data-animation="animated fadeInUp">Bitcoins are secure <br /> in your pocket</h3>
                            <p data-animation="animated fadeInDown">Excepteur sint occaecat cupidatat non proident sunt in culpa <br /> qui officia deserunt mollit anim id est laborum.</p>
                            <a href="#" class="thm-btn" data-animation="animated fadeInDown">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
        <span class="sr-only">Next</span>
    </a>

    <ul class="carousel-indicators list-inline custom-navigation">
        <li data-target="#minimal-bootstrap-carousel" data-slide-to="0" class="active"></li><!--
        --><li data-target="#minimal-bootstrap-carousel" data-slide-to="1"></li>
    </ul>
</div>

<!-- Calculator was here....... --> 
      
      <!-- Top 10 -->
	  <section>  
		<div style="height:669px; background-color: #1D2330; overflow:hidden; box-sizing: border-box; border: 1px solid #282E3B;text-align: right; line-height:14px; font-size: 12px; box-sizing:content-box; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #262B38; padding: 0px; margin: 0px; width: 99%;"><div style="height:649px;"><iframe src="https://widget.coinlib.io/widget?type=full_v2&theme=dark&cnt=10&pref_coin_id=1505&graph=yes" width="100%" height="645" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div><!--<div style="color: #626B7F; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing:content-box; margin: 3px 6px 10px 0px; font-family: Verdana, Tahoma, Arial, sans-serif;">powered by&nbsp;<a href="https://coinlib.io" target="_blank" style="font-weight: 500; color: #626B7F; text-decoration:none;font-size:11px">Coinlib</a></div>--></div>
			</section>
			
			<!-- / End Top 10 -->

<section class="feature-style-one sec-pad text-center">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-feature-style-one">
					<div class="icon-box">
						<i class="bitmex-icon-businessman"></i>
					</div><!-- /.icon-box -->
					<a href="#"><h3>Bitcoin Ownership</h3></a>
					<p>Bitcoin is changing the way people <br /> think about money. Educate yourself <br /> about this ground-breaking <br /> payment system.</p>
				</div><!-- /.single-feature-style-one -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-feature-style-one">
					<div class="icon-box">
						<i class="bitmex-icon-wallet"></i>
					</div><!-- /.icon-box -->
					<a href="#"><h3>Download A wallet</h3></a>
					<p>Bitcoin is changing the way people <br /> think about money. Educate yourself <br /> about this ground-breaking <br /> payment system.</p>
				</div><!-- /.single-feature-style-one -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-feature-style-one">
					<div class="icon-box">
						<i class="bitmex-icon-data"></i>
					</div><!-- /.icon-box -->
					<a href="#"><h3>Use Bitcoin</h3></a>
					<p>Bitcoin is changing the way people <br /> think about money. Educate yourself <br /> about this ground-breaking <br /> payment system.</p>
				</div><!-- /.single-feature-style-one -->
			</div><!-- /.col-md-4 -->
		</div><!-- /.row -->
	</div><!-- /.thm-container -->
</section><!-- /.feature-style-one -->

<section class="about-style-one gray-bg sec-pad">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-6">
				<div class="about-style-one-content">
					<span>About us</span>
					<h3>Who We Are</h3>
					<p style="text-align: justify">PesoBitz is the official Investment Promotion & Facilitation Agency in Philippines. From Pre-investment related decision making to services that include initiating remedial action on problems faced by investors PesoBitz brings a new level of virtual financial services for various Crypto currencies with its AI Automated Robotic trading.<br /><br />
                        PesoBitz specializes in digital currency trading, focus mainly in Bitcoin, where we work with a team of trading professionals, always aiming for profit for our investors. Real Trading really performs trading operations and we guarantee the durability & sustainability of the company.</p>
					<a href="#" class="thm-btn yellow-bg-hvr">Get Started</a>
				</div><!-- /.about-style-one-content -->
			</div><!-- /.col-md-6 -->
			<div class="col-md-6">
				<img src="assets/img/about.jpg" alt="" class="moc-img" />
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.thm-container -->
</section><!-- /.about-style-one -->

<section class="fun-fact-style-one dark-bg sec-pad">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-fun-fact-style-one text-center">
					<i class="bitmex-icon-coin"></i>
					<p>Total Transactions</p>
					<h3 class="counter">8980</h3>
				</div><!-- /.single-fun-fact-style-one text-center -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3 col-sm-6">
				<div class="single-fun-fact-style-one text-center">
					<i class="bitmex-icon-wallet"></i>
					<p>Bitcoin Wallets</p>
					<h3 class="counter">7540</h3>
				</div><!-- /.single-fun-fact-style-one text-center -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3 col-sm-6">
				<div class="single-fun-fact-style-one text-center">
					<i class="bitmex-icon-like"></i>
					<p>Happy Users</p>
					<h3 class="counter">9260</h3>
				</div><!-- /.single-fun-fact-style-one text-center -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3 col-sm-6">
				<div class="single-fun-fact-style-one text-center">
					<i class="bitmex-icon-handshake"></i>
					<p>Bitcoin Investors</p>
					<h3 class="counter">5721</h3>
				</div><!-- /.single-fun-fact-style-one text-center -->
			</div><!-- /.col-md-3 -->
		</div><!-- /.row -->
	</div><!-- /.thm-container -->
</section><!-- /.fun-fact-style-one -->

<section class="sec-pad blog-style-one">
	<div class="thm-container">
		<div class="sec-title text-center">
			<span>updates from blog</span>
			<h3>Latest News</h3>
		</div><!-- /.sec-title text-center -->
		<div class="row masonary-layout">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="single-blog-style-one">
					<div class="img-box">
						<img src="assets/img/blog-1-1.jpg" alt="Awesome Image"/>
						<a href="#" class="read-more">+</a>
					</div><!-- /.img-box -->
					<div class="text-box">
						<div class="meta-info">
							<a href="#"><i class="fa fa-user"></i> by admin</a>
							<a href="#"><i class="fa fa-comments"></i> 3 Comments</a>
						</div><!-- /.meta-info -->
						<a href="#"><h3>Calculating bitcoins <br /> mining profitability</h3></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-style-one -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="single-blog-style-one">
					<div class="img-box">
						<img src="assets/img/blog-1-2.jpg" alt="Awesome Image"/>
						<a href="#" class="read-more">+</a>
					</div><!-- /.img-box -->
					<div class="text-box">
						<div class="meta-info">
							<a href="#"><i class="fa fa-user"></i> by admin</a>
							<a href="#"><i class="fa fa-comments"></i> 3 Comments</a>
						</div><!-- /.meta-info -->
						<a href="#"><h3>Learn what is bitcoin <br /> mining pool?</h3></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-style-one -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="single-blog-style-one">
					<div class="img-box">
						<img src="assets/img/blog-1-3.jpg" alt="Awesome Image"/>
						<a href="#" class="read-more">+</a>
					</div><!-- /.img-box -->
					<div class="text-box">
						<div class="meta-info">
							<a href="#"><i class="fa fa-user"></i> by admin</a>
							<a href="#"><i class="fa fa-comments"></i> 3 Comments</a>
						</div><!-- /.meta-info -->
						<a href="#"><h3>How to get started with <br /> bitcoin</h3></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-style-one -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="single-blog-style-one">
					<div class="img-box">
						<img src="assets/img/blog-1-4.jpg" alt="Awesome Image"/>
						<a href="#" class="read-more">+</a>
					</div><!-- /.img-box -->
					<div class="text-box">
						<div class="meta-info">
							<a href="#"><i class="fa fa-user"></i> by admin</a>
							<a href="#"><i class="fa fa-comments"></i> 3 Comments</a>
						</div><!-- /.meta-info -->
						<a href="#"><h3>Bitcoin whitepaper: A <br /> beginner’s guide</h3></a>
					</div><!-- /.text-box -->
				</div><!-- /.single-blog-style-one -->
			</div><!-- /.col-md-3 -->
		</div><!-- /.row -->
	</div><!-- /.thm-container -->
</section><!-- /.sec-pad blog-style-one -->

<section class="how-it-works sec-pad">
	<div class="thm-container">
		<div class="sec-title text-center">
			<span>check our process</span>
			<h3>How It Works</h3>
		</div><!-- /.sec-title text-center -->
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-how-it-works text-center">
					<div class="icon-box">
						<i class="bitmex-icon-wallet"></i>
						<div class="count">01</div><!-- /.count -->
					</div><!-- /.icon-box -->
					<h3>Choose Your Wallet</h3>
					<p>Excepteur sint occaecat <br /> cupidatat non proident, sunt in <br /> culpa qui officia deserun mollit <br /> anim id est laborum.</p>
				</div><!-- /.single-how-it-works text-center -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-how-it-works text-center">
					<div class="icon-box">
						<i class="bitmex-icon-payment"></i>
						<div class="count">02</div><!-- /.count -->
					</div><!-- /.icon-box -->
					<h3>Make a Payment</h3>
					<p>Excepteur sint occaecat <br /> cupidatat non proident, sunt in <br /> culpa qui officia deserun mollit <br /> anim id est laborum.</p>
				</div><!-- /.single-how-it-works text-center -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-how-it-works text-center">
					<div class="icon-box">
						<i class="bitmex-icon-tap"></i>
						<div class="count">03</div><!-- /.count -->
					</div><!-- /.icon-box -->
					<h3>Start Buying & Selling</h3>
					<p>Excepteur sint occaecat <br /> cupidatat non proident, sunt in <br /> culpa qui officia deserun mollit <br /> anim id est laborum.</p>
				</div><!-- /.single-how-it-works text-center -->
			</div><!-- /.col-md-4 -->
		</div><!-- /.row -->
	</div><!-- /.thm-container -->
</section><!-- /.how-it-works -->

      <!-- Live Coin Charts -->
      
      <div style="height:560px; background-color:#1D2330; overflow:hidden; box-sizing: border-box; border: 1px solid #282E3B; border-radius: none; text-align: right; line-height:14px; font-size: 12px; box-sizing:content-box; font-feature-settings: normal; text-size-adjust: 100%; padding:1px;padding: 0px; margin: 0px;">
		<div style="height:540px;padding:0px;margin:0px;  margin-top: 50px;">
			<iframe src="https://widget.coinlib.io/widget?type=chart&theme=dark&coin_id=859&pref_coin_id=1505" width="100%" height="536" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;box-sizing:content-box;"></iframe>
		</div>
	   <!-- <div style="color: #626B7F; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing:content-box; margin: 3px 6px 10px 0px; font-family: Verdana, Tahoma, Arial, sans-serif;">powered by&nbsp;<a href="https://coinlib.io" target="_blank" style="font-weight: 500; color: #626B7F; font-size: 11px; text-decoration:none;">Coinlib</a>
		</div>-->
	</div>
<!-- Live Coin Charts End -->



<!-- pricing plans section -->
<section class="sec-pad blog-style-one">
		
	<div class="demo thm-container">
			<div class="sec-title text-center">
					<span>look at our packages</span>
					<h3>Packages</h3>
				</div><!-- /.sec-title text-center -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="pricingTable">
					<div class="pricingTable-header">
						<div class="price-value">
							<span class="amount">$10</span>
							<span class="month">monthly plan</span>
						</div>
					</div>
					<div class="icon"><i class="fa fa-rub" aria-hidden="true"></i></div>
					<div class="pricing-content">
						<h3 class="title">BASIC</h3>
						<ul>
							<li>Daily ROI % :- 0.75%</li>
							<li>Total Days:- 280 Days</li>
							<li>Daily Earnings:- $0.375</li>
							<li>Monthly Income:- $11.25</li>
							<li>Total Earning:- $100</li>
  
						</ul>
						<a href="#" class="pricingTable-signup">Subscribe</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="pricingTable green">
					<div class="pricingTable-header">
						<div class="price-value">
							<span class="amount">$100</span>
							<span class="month">monthly plan</span>
						</div>
					</div>
					<div class="icon"><i class="fa fa-rub" aria-hidden="true"></i></div>
					<div class="pricing-content">
						<h3 class="title">Standard</h3>
						<ul>
							<li>Daily ROI % :- 0.75%</li>
							<li>Total Days:- 270 Days</li>
							<li>Daily Earnings:- $0.75</li>
							<li>Monthly Income:- $22.5</li>
							<li>Total Earning:- $200</li>
  
						</ul>
						<a href="#" class="pricingTable-signup">Subscribe</a>
  
					</div>
				</div>
			</div>
			
  
			<div class="col-md-3 col-sm-6">
				<div class="pricingTable purple">
					<div class="pricingTable-header">
						<div class="price-value">
							<span class="amount">$500</span>
							<span class="month">monthly plan</span>
						</div>
					</div>
					<div class="icon"><i class="fa fa-rub" aria-hidden="true"></i></div>
					<div class="pricing-content">
						<h3 class="title">Deluxe PRO</h3>
						<ul>
							<li>Daily ROI % :- 0.75%</li>
							<li>Total Days:- 270 Days</li>
							<li>Daily Earnings:- $0.75</li>
							<li>Monthly Income:- $22.5</li>
							<li>Total Earning:- $200</li>
  
						</ul>
						<a href="#" class="pricingTable-signup">Subscribe</a>
					</div>
				</div>
			</div>
			
  
			<div class="col-md-3 col-sm-6">
				<div class="pricingTable blue">
					<div class="pricingTable-header">
						<div class="price-value">
							<span class="amount">$1000</span>
							<span class="month">monthly plan</span>
						</div>
					</div>
					<div class="icon"><i class="fa fa-rub" aria-hidden="true"></i></div>
					<div class="pricing-content">
						<h3 class="title">DELUXE PRO</h3>
						<ul>
							<li>Daily ROI % :- 0.75%</li>
							<li>Total Days:- 270 Days</li>
							<li>Daily Earnings:- $0.75</li>
							<li>Monthly Income:- $22.5</li>
							<li>Total Earning:- $200</li>
  
						</ul>
						<a href="#" class="pricingTable-signup">Subscribe</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-center mx-auto" style="margin-top: 50px">
				<div class="col-md-3 col-sm-6">
						<div class="pricingTable purple">
							<div class="pricingTable-header">
								<div class="price-value">
									<span class="amount">$500</span>
									<span class="month">monthly plan</span>
								</div>
							</div>
							<div class="icon"><i class="fa fa-rub" aria-hidden="true"></i></div>
							<div class="pricing-content">
								<h3 class="title">Deluxe</h3>
								<ul>
									<li>Daily ROI % :- 0.75%</li>
									<li>Total Days:- 270 Days</li>
									<li>Daily Earnings:- $0.75</li>
									<li>Monthly Income:- $22.5</li>
									<li>Total Earning:- $200</li>
		  
								</ul>
								<a href="#" class="pricingTable-signup">Subscribe</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
							<div class="pricingTable">
								<div class="pricingTable-header">
									<div class="price-value">
										<span class="amount">$10</span>
										<span class="month">monthly plan</span>
									</div>
								</div>
								<div class="icon"><i class="fa fa-rub" aria-hidden="true"></i></div>
								<div class="pricing-content">
									<h3 class="title">BASIC</h3>
									<ul>
										<li>Daily ROI % :- 0.75%</li>
										<li>Total Days:- 280 Days</li>
										<li>Daily Earnings:- $0.375</li>
										<li>Monthly Income:- $11.25</li>
										<li>Total Earning:- $100</li>
			  
									</ul>
									<a href="#" class="pricingTable-signup">Subscribe</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="pricingTable green">
								<div class="pricingTable-header">
									<div class="price-value">
										<span class="amount">$100</span>
										<span class="month">monthly plan</span>
									</div>
								</div>
								<div class="icon"><i class="fa fa-rub" aria-hidden="true"></i></div>
								<div class="pricing-content">
									<h3 class="title">Standard</h3>
									<ul>
										<li>Daily ROI % :- 0.75%</li>
										<li>Total Days:- 270 Days</li>
										<li>Daily Earnings:- $0.75</li>
										<li>Monthly Income:- $22.5</li>
										<li>Total Earning:- $200</li>
			  
									</ul>
									<a href="#" class="pricingTable-signup">Subscribe</a>
			  
								</div>
							</div>
						</div>
						
		</div>
	</div>
  </div>
  </section>


<section class="team-style-one sec-pad">
	<div class="thm-container">
		<div class="sec-title text-center">
			<span>meet our team</span>
			<h3>Bitcoin Experts</h3>
		</div><!-- /.sec-title text-center -->
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-team-style-one hvr-float-shadow">
					<div class="img-box">
						<img src="assets/img/team-1-1.jpg" alt="Awesome Image"/>
					</div><!-- /.img-box -->
					<div class="text-box text-center">
						<h3>Kathern Dughi</h3>
						<span>Director</span>
						<p>Praesent dapibus iseleifend augu <br /> eget sollicitudin velit liqu lese.</p>
						<div class="social">
				        	<a href="#" class="fa fa-twitter"></a><!--
				        	--><a href="#" class="fa fa-facebook"></a><!--
				        	--><a href="#" class="fa fa-youtube-play"></a><!--
				        	--><a href="#" class="fa fa-pinterest"></a>
				        </div><!-- /.social -->
					</div><!-- /.text-box -->
				</div><!-- /.single-team-style-one -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-team-style-one hvr-float-shadow">
					<div class="img-box">
						<img src="assets/img/team-1-2.jpg" alt="Awesome Image"/>
					</div><!-- /.img-box -->
					<div class="text-box text-center">
						<h3>Sau Merzlak</h3>
						<span>Director</span>
						<p>Praesent dapibus iseleifend augu <br /> eget sollicitudin velit liqu lese.</p>
						<div class="social">
				        	<a href="#" class="fa fa-twitter"></a><!--
				        	--><a href="#" class="fa fa-facebook"></a><!--
				        	--><a href="#" class="fa fa-youtube-play"></a><!--
				        	--><a href="#" class="fa fa-pinterest"></a>
				        </div><!-- /.social -->
					</div><!-- /.text-box -->
				</div><!-- /.single-team-style-one -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-team-style-one hvr-float-shadow">
					<div class="img-box">
						<img src="assets/img/team-1-3.jpg" alt="Awesome Image"/>
					</div><!-- /.img-box -->
					<div class="text-box text-center">
						<h3>Corie Malkasian</h3>
						<span>Director</span>
						<p>Praesent dapibus iseleifend augu <br /> eget sollicitudin velit liqu lese.</p>
						<div class="social">
				        	<a href="#" class="fa fa-twitter"></a><!--
				        	--><a href="#" class="fa fa-facebook"></a><!--
				        	--><a href="#" class="fa fa-youtube-play"></a><!--
				        	--><a href="#" class="fa fa-pinterest"></a>
				        </div><!-- /.social -->
					</div><!-- /.text-box -->
				</div><!-- /.single-team-style-one -->
			</div><!-- /.col-md-4 -->
		</div><!-- /.row -->
	</div><!-- /.thm-container -->
</section><!-- /.team-style-one sec-pad -->

<div class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="single-footer-top">
					<p><i class="bitmex-icon-envelope"></i><span>Email: </span>enquiry@pesobitz.com</p>
				</div><!-- /.single-footer-top -->
			</div><!-- /.col-md-4 -->
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="single-footer-top">
					<p><i class="bitmex-icon-phone-call"></i><span>Call: </span>+91 12345567890</p>
				</div><!-- /.single-footer-top -->
			</div><!-- /.col-md-4 -->
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div class="single-footer-top">
					<p><i class="bitmex-icon-placeholder"></i><span>Address: </span>Suite 20 Wadala Mumbai 37 India</p>
				</div><!-- /.single-footer-top -->
			</div><!-- /.col-md-4 -->
		</div><!-- /.row -->
	</div><!-- /.thm-container -->
</div>

<footer class="site-footer">
	<div class="thm-container">
		<div class="row masonary-layout">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="single-footer-widget">
					<div class="title">
						<h3>About</h3>
					</div><!-- /.title -->
					<ul class="links-list">
						<li><a href="#">Home</a></li>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Our Team</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Latest News</a></li>
						<li><a href="#">Free Consultancy</a></li>
					</ul><!-- /.links-list -->
				</div><!-- /.single-footer-widget -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="single-footer-widget">
					<div class="title">
						<h3>Bitcoin</h3>
					</div><!-- /.title -->
					<ul class="links-list">
						<li><a href="#">Get Started</a></li>
						<li><a href="#">Wallets</a></li>
						<li><a href="#">Buy & Sell Bitcoins</a></li>
						<li><a href="#">Exchange Market</a></li>
						<li><a href="#">Daily Stats</a></li>
					</ul><!-- /.links-list -->
				</div><!-- /.single-footer-widget -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="single-footer-widget">
					<div class="title">
						<h3>Legal</h3>
					</div><!-- /.title -->
					<ul class="links-list">
						<li><a href="#">Guide</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul><!-- /.links-list -->
				</div><!-- /.single-footer-widget -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="single-footer-widget">
					<div class="title">
						<h3>Subscribe</h3>
					</div><!-- /.title -->
					<form action="inc/mailchimp/subscribe.php" class="subscribe-form">
						<input type="text" placeholder="Email Address" />
						<button type="submit" class="fa fa-check"></button>
					</form><!-- /.subscribe-form -->
				</div><!-- /.single-footer-widget -->
			</div><!-- /.col-md-3 -->
		</div><!-- /.row -->
	</div><!-- /.thm-container -->
</footer><!-- /.site-footer -->

<div class="footer-bottom">
	<div class="thm-container clearfix">
		<div class="pull-left copy-text">
				<p>&copy; 2019 Pesobitz.com All copy rights are reserved.</p>
		</div><!-- /.pull-left copy-text -->
		<div class="social pull-right">
        	<a href="#" class="fa fa-twitter"></a><!--
        	--><a href="#" class="fa fa-facebook"></a><!--
        	--><a href="#" class="fa fa-youtube-play"></a><!--
        	--><a href="#" class="fa fa-pinterest"></a>
        </div><!-- /.social -->
	</div><!-- /.thm-container -->
</div><!-- /.footer-bottom -->

<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
    <div class="search_box_inner">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="bitmex-icon-search"></i></button>
            </span>
        </div>
    </div>
</div>

<section class="hidden-sidebar side-navigation">
    <a href="#" class="close-button side-navigation-close-btn fa fa-times"></a><!-- /.close-button -->
    <div class="sidebar-content">
        <h3>Pesobitz</h3> 
        <p>Lorem ipsum dolor sit amet adipiscing elitn quis ex et mauris vulputate semper Etiam eget lacus dapibs ultricies diam vel sollicitudin.</p>
        <p class="contact-info">enquiry@pesobitz.com <br />+91 1234567890</p><!-- /.contact-info -->
        <div class="social">
        	<a href="#" class="fa fa-twitter"></a><!--
        	--><a href="#" class="fa fa-facebook"></a><!--
        	--><a href="#" class="fa fa-youtube-play"></a><!--
        	--><a href="#" class="fa fa-pinterest"></a>
        </div><!-- /.social -->
    </div><!-- /.sidebar-content -->
</section><!-- /.hidden-sidebar -->

<div class="scroll-to-top scroll-to-target" data-target="html"><i class="fa fa-angle-up"></i></div>  
</div>

